<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
		C+Dav Connector Status
	</div>
</div>

<div id="btnStartSync" x-mojo-element="Button"></div>

<div class="palm-group">
	<div class="palm-group-title">Statistics</div>
	<div id="txtContacts">Number of contacts: tbd</div>
	<div id="txtCalendars">Number of calendars: tbd</div>
	<div id="txtEvents">Number of events: tbd</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Status</div>
	<div id="txtRunning">Sync is not running.</div>
	<div id="txtMessage"></div>
	<div id="txtDownNumbers"></div>
	<div id="txtUpNumbers"></div>
</div>
