<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
		Configure CardDAV account
	</div>
</div>

<!--
<div x-mojo-loc='' class="palm-body-title" id="name"></div>
<div x-mojo-loc='' class="palm-body-text" id="round"></div>
-->

<div id ='Scrim' class='palm-scrim'>
	<div id='saveSpinner' x-mojo-element='Spinner' class='palm-activity-indicator-large'></div>
	<div id='Scrim-Output' class='palm-body-text'></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">CardDAV Server</div>
	<div class="palm-list">
		<div class="palm-row first">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="txtName" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="txtURL" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
		<div class="palm-row">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="txtUser" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
		<div class="palm-row last">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="txtPass" x-mojo-element="PasswordField"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="btnSave" x-mojo-element="Button"></div>
<div id="btnDelete" x-mojo-element="Button"></div>
