<div id="main" class="palm-hasheader">
	<div class="palm-header center" id="main-hdr">
	  C+Dav Connector
	</div>
</div>

<div id ='Scrim' class='palm-scrim'>
	<div id='loadSpinner' x-mojo-element='Spinner' class='palm-activity-indicator-large'></div>
	<div id='Scrim-Output' class='palm-body-text'></div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Accounts</div>
		<div id="lsAccounts" class="right" x-mojo-element="ListSelector"></div>
	</div>
</div>
<div id="btnTriggerSlow" x-mojo-element="Button"></div>
<div id="btnTriggerDiscovery" x-mojo-element="Button"></div>
<div id="btnStartSync" x-mojo-element="Button"></div>
