<div id="main" class="palm-hasheader">
    <div class="palm-header center" id="main-hdr">
        Configure Google account
    </div>
</div>

<!--
<div x-mojo-loc='' class="palm-body-title" id="name"></div>
<div x-mojo-loc='' class="palm-body-text" id="round"></div>
-->

<div id ='Scrim' class='palm-scrim'>
    <div id='saveSpinner' x-mojo-element='Spinner' class='palm-activity-indicator-large'></div>
    <div id='Scrim-Output' class='palm-body-text'></div>
</div>

<div x-mojo-element="WebView" id="WebId" class="WebClass" name="WebName"></div>