{
	"id": "org.webosports.cdav.account.config:1",
	"sync": true,
	 "owner": "org.webosports.cdav.service",
	"indexes": [
		{
			"name": "accountId",
			"props": [
				{
					"name": "accountId"
				}
			]
		},
		{
			"name": "username",
			"props": [
				{
					"name": "username"
				}
			]
		},
		{
			"name": "name",
			"props": [
				{
					"name": "name"
				}
			]
		}
	]
}
