{
	"id": "org.webosports.service.contacts.carddav.account.config:1",
	"sync": true,
	"indexes": [
		{
			"name": "accountId",
			"props": [
				{
					"name": "accountId"
				}
			]
		},
		{
			"name": "username",
			"props": [
				{
					"name": "username"
				}
			]
		}
	]
}
